# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.log
.pub/
*.lock

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/captures/
android/*.iml

# iOS
ios/Pods/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Runner.xcworkspace/
ios/build/
ios/Runner/GeneratedPluginRegistrant.*

# Linux
linux/flutter/generated_plugin_registrant.*

# macOS
macos/Flutter/GeneratedPluginRegistrant.*

# Windows
windows/flutter/generated_plugin_registrant.*

# IDEs
.vscode/
.idea/
*.iml

# Firebase
# google-services.json si GoogleService-Info.plist nu se urca in mod normal
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Misc
*.log
*.tmp
*.swp
