# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.log
.pub/
*.lock

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/captures/
android/*.iml
*.hprof

# iOS
ios/Pods/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/build/
ios/Runner/GeneratedPluginRegistrant.*

# Xcode
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# VS Code
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml

# Firebase / Google Services
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Misc
*.log
*.tmp
*.swp
